form
    h2(class='form-title')
        |#{formElements.formTitle}

    p(class='js-common-errors form-error')

    each field in formElements.fields
        label(for=field.id)
            |#{field.label}
        
        input(type=field.type name=field.name id=field.id placeholder=field.placeholder value=field.value)
    
    div(class='js-form-sumbit-section form-submit-subsection')
