div(class='js-field field-input')
    label(for=field.id)
        |#{field.label}

    p(class='form-error js-field-error')
        |#{messages.error}
    p(class='form-message js-field-message')
        |#{messages.message}

    input(type=field.type name=field.name id=field.id placeholder=field.placeholder value=field.value)